body{
    font-family: 'Poppins';
    margin:0;
    padding:0;
}
.main{
    display:flex;
}
.sidebar{
    width:39%;
    background-color:#0a2540;
    height:100vh;
}
.tagline{
    font-size:80px;
    font-weight:bold;
    color:white;
    text-align:center;
    margin-bottom:20px;
}
.login{
    width:62%;
    background-color:white;
    border-radius:10px;
    border:2px solid white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:left;
    margin-left:40px;
}
select{
    font-family:'Poppins';
    font-size:16px;
    border-radius:5px;
}
.input{
    margin:20px 0 20px 0;
    font-size:24px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    column-gap:10px;
}
.btn{
    background-color:#0a2540;
    color:white;
    padding:10px;
    border-radius:6px;
    width:150px;
    margin-left:120px;
    margin-top:20px;
    border:2px solid #0a2540;
    font-family:'Poppins';
    font-size:18px;
}
a{
    color:white;
    text-decoration:none;
    font-family:'Poppins';
    font-size:18px;
}
.fp{
    margin-left:100px;
    margin-top:20px;
    font-size:22px;
    color:black;
    text-decoration:none;
}
.footer{
    text-align:left;
    margin-left:60px;
    margin-top:150px;
}